.link{
  text-decoration: none !important;
 
}
.post{
  text-align: justify;
 background-color: rgba(240, 248, 255, 0.101);
 padding: 20px;
 border-radius: 20px;
 
}
.post:hover{
  transform: scale(1.02);
  transition:0.5s ease-out;
}
h1{
  color: rgb(4, 49, 4);
}
.btn1{
  background-color: rgba(240, 255, 255, 0.389) !important;
  border: 2px solid black !important;
  color: black !important;
}